.header {
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid grey;
}

.headerWrapper {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navPanel {
  height: 70px;
  display: flex;
  align-items: center;
}

.active {
  color: blue;
}

.list {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.listItem {
  margin-right: 20px;
}

.link {
  display: block;
  text-decoration: none;
  color: #545454;
  font-weight: 700;
}

.logo {
  display: block;
  height: 60px;
  margin-right: 80px;
  @media screen and (max-width: 767px) {
    height: 40px;
  }
}

.active {
  color: red;
}

.userPanel {
  display: flex;
  align-items: center;
}

.userName {
  margin-right: 20px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 8px;
  border: transparent;
  border-radius: 5px;
  background-color: red;
  color: #fff;
  cursor: pointer;
  &:hover {
    background-color: grey;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.userTag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: grey;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  line-height: 1;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.burger {
  display: block;
}

.menuBtn {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
